
body {
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: #2b00ff;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 255, 170, 0.5);
}

h2 {
    color: #4d7aff;
    font-size: 1.8em;
    border-left: 5px solid #4d7aff;
    padding-left: 10px;
    margin: 25px 0 15px 0;
}

h3 {
    color: #2b00ff;
    text-shadow: 0 0 10px rgba(0, 255, 170, 0.322);
    font-size: 1.4em;
}

hr {
    background-color: #0f0;
    height: 3px;
    border: none;
}

a {
    color: #00ffaa;
    text-decoration: none;
}

a:hover {
    color: #ff0;
}

div {
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #00ffaa;
}

/* Estilos específicos para el menú de navegación */
div:nth-child(3) ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

div:nth-child(3) li {
    display: inline-block;
    margin-right: 10px;
}

div:nth-child(3) a {
    padding: 5px 10px;
    display: block;
    background-color: #444;
    border-radius: 3px;
}

div:nth-child(3) a:hover {
    background-color: #00ffaa;
    color: #222;
}
#ultimas-resenas img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    border: 3px solid #0ff;
}

p {
    background-color: #444;
    padding: 5px;
}

table {
    width: 100%;
    background-color: #333;
    border: 2px solid #0f0;
}

th {
    background-color: #0f0;
    color: black;
    padding: 5px;
}

td {
    padding: 5px;
    border: 1px solid #0f0;
}

input, textarea, select {
    background-color: #444;
    color: white;
    border: 1px solid #00ffaa;
    padding: 3px;
}

input[type="submit"] {
    background-color: #00ffaa;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}